<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea.cuBase" version="1.2.740" targetFramework="net45" />
  <package id="FsUnit.xUnit" version="1.2.2.1" targetFramework="net40" />
  <package id="MathNet.Numerics" version="2.6.2" targetFramework="net451" />
  <package id="MathNet.Numerics.FSharp" version="2.6.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40" />
</packages>